page-home {
    .login-btn {
        width: 100%;
        background: #163A80;
        border-radius: 25px;
        height: 45px;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin-top: 30px;
    }
    .btn-box-layout {
        padding: 25px 0 0px 25px;
    }
    .btn-box {
        margin-bottom: 5%;
        // position: absolute;
        // bottom: 80px;
    }
}
